<% if !utilisateur_signed_in? %>
  <div class="jumbotron">
    <h1Vos critiques de film preféré !</h1>
    <p>Ancien ou nouveau film, peu importe toute les informations sont ici !!!</p>
    <p><%= link_to "Inscrivez-vous pour écrire un commentaire", new_utilisateur_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @films.each do |film| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag film.image.url(:medium), class: 'image'), film %>
      </div>
    </div>
  <% end %>
</div>
